<header>
  <div id="logo">
    <img
      class="img"
      src="./img/logoIGD.svg"
      id="logoIGD"
      alt="logo"
      width="30"
      height="36"
    />
  </div>

  <div id="firme">
    <h1>Cabinet d'avocats</h1>
  </div>
</header>