<nav class="fixnavbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/expertise">Expertise</a></li>
    <li><a href="/honoraires">Honoraires</a></li>
    <li><a href="/contact">Contact</a></li>
  </ul>
</nav>
