<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../public/style.css" />
  </head>

  <%- include('../partials/header.ejs') %>

  <body>
    <!-- <%- include('../partials/nav.ejs') %> -->

    <div class="not-found content">
      <h1>404 - OOPS!</h1>
      <h2>that page doesn't exist :)</h2>
    </div>
  </body>

  <%- include('../partials/footer.ejs') %>
</html>
