<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Page Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <!-- <script src="../js/stickyNavbar.js" defer></script> -->
  </head>

  <body>
    <div id="wrapper">
      <%- include('../partials/header.ejs') %> 
      
      <%- include('../partials/nav.ejs') %>

      <div class="gestZone">
        <section id="contact">
          <article>
            <p id="adressePostale">
              <b>Le cabinet est situé 19 avenue Victor Hugo 75116 PARIS</b>
            </p>
            <p>
              Le cabinet reçoit uniquement sur rendez-vous. L'accueil
              téléphonique est ouvert du lundi au vendredi de 9h30 à 13h00.<br /><br />
              Pour prendre rendez-vous ou avoir des renseignements
              complémentaires, n'hésitez pas à nous contacter<br />
            </p>

            <div id="contactTel">
              <p>
                - par téléphone : <a href="tel:+33143181025">01 43 18 10 25</a>
              </p>
            </div>

            <div id="invitForm">
              <p>- ou en remplissant le formulaire ci-après</p>
            </div>
          </article>
        </section>
        <!-- /section contact -->
      </div>
      <!-- /gestZone-->

      <%- include('../partials/footer.ejs') %>
    </div>
    <!-- /container -->
  </body>
</html>
