<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./js/stickyNavbar.js" defer></script>
    <script src="./js/currenLink.js" defer></script>
    <script src="./js/touchmove.js" defer></script>
  </head>

  <body>
    <div id="wrapper">
      <header>
        <h1>Cabinet d'avocats</h1>
      </header>

      <nav class="fixnavbar">
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="expertise.html">Expertise</a></li>
          <li><a href="honoraires.html">Honoraires</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>

      <div class="gestZone">
        <section id="contact">
          <article>
            <p id="adressePostale">
              <b>Le cabinet est situé 19 avenue Victor Hugo 75116 PARIS</b>
            </p>
            <p>
              Le cabinet reçoit uniquement sur rendez-vous. L'accueil
              téléphonique est ouvert du lundi au vendredi de 9h30 à 13h00.<br /><br />
              Pour prendre rendez-vous ou avoir des renseignements
              complémentaires, n'hésitez pas à nous contacter<br />
            </p>

            <div id="contactTel">
              <p>
                - par téléphone : <a href="tel:+33143181025">01 43 18 10 25</a>
              </p>
            </div>

            <div id="invitForm">
              <p>- ou en remplissant le formulaire ci-après</p>
            </div>
          </article>
        </section>
        <!-- /section contact -->
      </div>
      <!-- /gestZone-->
      <footer>
        <h4>Accueil</h4>
        <h4>Plan du site</h4>
        <h4>Mentions légales</h4>
      </footer>
    </div>
    <!-- /container -->
  </body>
</html>
