<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>sw | Expertise</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />
    <!-- <script src="../js/stickyNavbar.js" defer></script> -->
  </head>

  <body>
    <div id="wrapper">
      <header>
        <h1>Cabinet d'avocats</h1>
      </header>

      <%- include('../partials/nav.ejs') %>

      <div class="gestZone">
        <article>
          <p>
            Le cabinet IGD est spécialisé en
            <strong>Droit de la famille </strong>et en
            <strong>Droit du travail </strong>notamment dans les secteurs du
            transport et de la sécurité.
          </p>
        </article>

        <section class="expert">
          <article class="expertiseField" id="famille">
            <h1>Droit de la famille</h1>
            <p>
              Le droit de la famille est la branche du droit civil qui régit les
              relations juridiques entre des personnes physiques unies par un
              lien de parenté, d’alliance ou d’adoption.
            </p>
            <p>
              Le Cabinet vous conseille pour le règlement amiable ou contentieux
              des différends familiaux:
            </p>
            <h2>Litiges concernant les couples</h2>
            <ul>
              <li>
                Divorce: consentement mutuel, altération définitive du lien
                conjugal, faute…
              </li>
              <li>
                <abbr title="Pacte civil de solidarité">PACS</abbr> ou
                concubinage: droits, rupture…
              </li>
              <li>Séparation: prestation compensatoire, domicile conjugal…</li>
              <li>Violences conjugales : ordonnance de protection…</li>
            </ul>
            >
            <h2>Protection des personnes vulnérables</h2>
            <ul>
              <li>Tutelle</li>
              <li>Curatelle</li>
              <li>Sauvegarde de justice</li>
              <li>Hospitalisation d'office</li>
            </ul>
            <p>
              Le cabinet IGD Avocats saura vous conseiller pour choisir la
              stratégie la plus adaptée à vos besoins et vous assister tout au
              long de la procédure qui sera mise en œuvre pour assurer la
              défense de vos intérêts.
            </p>
          </article>
          <article class="expertiseField">
            <h1>Droit de la famille bis</h1>
            <p>
              Le droit de la famille est la branche du droit civil qui régit les
              relations juridiques entre des personnes physiques unies par un
              lien de parenté, d’alliance ou d’adoption.
            </p>
            <p>
              Le Cabinet vous conseille pour le règlement amiable ou contentieux
              des différends familiaux:
            </p>
            <h2>Litiges concernant les couples</h2>
            <ul>
              <li>
                Divorce: consentement mutuel, altération définitive du lien
                conjugal, faute…
              </li>
              <li>
                <abbr title="Pacte civil de solidarité">PACS</abbr> ou
                concubinage: droits, rupture…
              </li>
              <li>Séparation: prestation compensatoire, domicile conjugal…</li>
              <li>Violences conjugales : ordonnance de protection…</li>
            </ul>
            >
            <h2>Protection des personnes vulnérables</h2>
            <ul>
              <li>Tutelle</li>
              <li>Curatelle</li>
              <li>Sauvegarde de justice</li>
              <li>Hospitalisation d'office</li>
            </ul>
            <p>
              Le cabinet IGD Avocats saura vous conseiller pour choisir la
              stratégie la plus adaptée à vos besoins et vous assister tout au
              long de la procédure qui sera mise en œuvre pour assurer la
              défense de vos intérêts.
            </p>
          </article>
        </section>

      </div>
      <!-- /gestZone-->

        <button class="button" onclick="location.href='contact.html'">
          Pour en savoir plus !
        </button>

        <p>
          A toutes les étapes de la vie d'un contrat de travail, l'avis de
          l'avocat est souhaitable. C'est un droit d'actualité avec une
          réglementation abondante et en perpétuelle évolution qui suscite des
          questions et litiges très nombreux.
        </p>
      <footer>
        <h4>Accueil</h4>
        <h4>Plan du site</h4>
        <h4>Mentions légales</h4>
      </footer>
    </div>
    <!-- /wrapper -->
  </body>
</html>
