<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./css/style.css" />
    <script src="./js/stickyNavbar.js" defer></script>
    <script src="./js/currenLink.js" defer></script>
    <script src="./js/touchmove.js" defer></script>
  </head>

  <body>
    <div id="wrapper">
      <header>
        <h1>Cabinet d'avocats</h1>
      </header>

      <nav class="fixnavbar">
        <ul>
          <li><a href="home.html">Home</a></li>
          <li><a href="expertise.html">Expertise</a></li>
          <li><a href="honoraires.html">Honoraires</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </nav>

      <div class="gestZone">
        <article id="honoraires">
          <h1>Honoraires</h1>
          <p>
            Les rapports de confiance que le cabinet entretient avec ses clients
            sont fondés sur une <b>transparence totale</b> à leur égard tant en
            ce qui concerne le compte rendu des actions menées que les éléments
            de facturation.
          </p>
          <p>
            Le montant des honoraires est déterminé en fonction de la complexité
            de l'affaire et de l'importance des intérêts en cause.
          </p>
          <p>
            Si le client décide, en accord avec l'avocat, qu’une procédure doit
            être engagée ou poursuivie, en demande ou en défense, une convention
            d'honoraires sera signée.
          </p>
          <p>
            Dans tous les cas, le montant des honoraires est établi en accord
            avec le client.
          </p>
          <h2>Honoraires bis</h2>
          <p>
            Les rapports de confiance que le cabinet entretient avec ses clients
            sont fondés sur une <b>transparence totale</b> à leur égard tant en
            ce qui concerne le compte rendu des actions menées que les éléments
            de facturation.
          </p>
          <p>
            Le montant des honoraires est déterminé en fonction de la complexité
            de l'affaire et de l'importance des intérêts en cause.
          </p>
          <p>
            Si le client décide, en accord avec l'avocat, qu’une procédure doit
            être engagée ou poursuivie, en demande ou en défense, une convention
            d'honoraires sera signée.
          </p>
          <p>
            Dans tous les cas, le montant des honoraires est établi en accord
            avec le client.
          </p>
          <button class="button" onclick="location.href='./expertise.html'">
            En savoir plus sur notre cabinet !
          </button>
        </article>
      </div>
      <!-- /gestZone-->
      <footer>
        <h3>Accueil</h3>
        <h3>Plan du site</h3>
        <h3>Mentions légales</h3>
      </footer>
    </div>
    <!-- /container -->
  </body>
</html>
